{:aliases {:ancient {:extra-deps {deps-ancient {:mvn/version "RELEASE"}},
                     :main-opts ["-m" "deps-ancient.deps-ancient"]},
           :dev {:extra-deps {binaryage/devtools {:mvn/version "RELEASE"},
                              com.bhauman/figwheel-main {:mvn/version "RELEASE"},
                              com.bhauman/rebel-readline-cljs {:mvn/version "RELEASE"}},
                 :extra-paths ["target"
                               "../appkernel/src"
                               "../bindscript/src"
                               "../browser-headsup/src"
                               "../conform/src"
                               "../facts-db/src"
                               "../material-desktop/src"],
                 :main-opts ["--main" "figwheel.main" "--build" "dev"]}},
 :deps {clj-pdf {:mvn/version "2.2.33"},
        clj-pdf-markdown {:mvn/version "0.2.1"},
        cljs-ajax {:mvn/version "0.8.0"},
        clojure-term-colors {:mvn/version "0.1.0"},
        compojure {:mvn/version "1.6.1"},
        expound {:mvn/version "0.7.1"},
        http-kit {:mvn/version "2.3.0"},
        re-frame {:mvn/version "0.10.5"},
        ring {:mvn/version "1.7.0"},
        ring-oauth2 {:mvn/version "0.1.4"},
        com.auth0/java-jwt {:mvn/version "3.7.0"},
        com.taoensso/sente {:mvn/version "1.13.1"},
        kunagi/material-desktop {:local/root "../material-desktop"},
        mvxcvi/puget {:mvn/version "1.1.0"},
        org.clojure/clojure {:mvn/version "1.10.0"},
        ring/ring-defaults {:mvn/version "0.3.2"}},
 :paths ["src"]}

;; Generated by kunagi-toolbox.